apiVersion: apps/v1  
kind: Deployment  
metadata:  
  name: health-service  
  labels:  
    app: health-service  
spec:  
  replicas: 5  
  selector:  
    matchLabels:  
      app: health-service  
  template:  
    metadata:  
      labels:  
        app: health-service  
    spec:  
      containers:  
      - name: health-service  
        image: health-service:local  
        imagePullPolicy: Never  
        env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: REDIS_HOST
            value: "redis-master"
          - name: REDIS_PORT
            value: "6379"
          - name: REDIS_URL
            value: "redis://redis-master:6379/0"
        ports:  
        - containerPort: 8080  
        resources:  
          requests:  
            memory: "256Mi"  
            cpu: "500m"  
          limits:  
            memory: "512Mi"  
            cpu: "1000m"  
        volumeMounts:  
        - name: docker-sock  
          mountPath: /var/run/docker.sock  
      volumes:  
      - name: docker-sock  
        hostPath:  
          path: /var/run/docker.sock  
