
# if [ -d ./.venv ]; then
#     source ./.venv.venv/bin/activate
# 	echo "successfully sourced .venv"
# else 
# 	echo "no .venv found initializing venv"
# 	python3 -m venv .venv
# 	source ./.venv/bin/activate
# 	pip install -r requirements.txt
# 	echo "successfully initialized .venv"
# fi
# Load .env file from current directory
if [ -f .env ]; then
    set -a
    source .env
    set +a
    echo "successfully sourced .env"
fi
