.env
personalnotes.md
.venv
node_modules
build/
src/__pycache__
__pycache__
container_metrics.log
./k8s/personalnotes.md
.docker/
.env.route53

# contains the SSL certificate
eks/service-ssl.yaml
terraform/environments/prod/terraform.tfstate
terraform/environments/prod/terraform.tfstate.backup

*.tfstate                                                                                   
*.tfstate.*                                                                                 
.terraform/                                                                                 
tfplan                                                                                      

# Terraform
**/.terraform/
**/tfplan
*.tfstate
*.tfstate.*
