apiVersion: apps/v1
kind: Deployment

metadata:
  name: health-service
  labels:
    app: health-service

spec:
  replicas: 1

  selector:
    matchLabels:
      app: health-service

  template:
    metadata:
      labels:
        app: health-service

    spec:
      containers:
      - name: health-service
        image: 307218864628.dkr.ecr.us-east-1.amazonaws.com/health-service:latest
        imagePullPolicy: Always

        ports:
        - containerPort: 8080

        resources:
          requests:
            memory: "256Mi"
            cpu: "500m"
          limits:
            memory: "512Mi"
            cpu: "1000m"
  
