apiVersion: v1
kind: Service

metadata:
  name: health-service
  labels:
    app: health-service
  annotations:
    # Use NLB instead of Classic ELB for better performance and faster provisioning
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"

spec:
  type: LoadBalancer

  selector:
    app: health-service

  ports:
  - port: 80
    targetPort: 8080
